<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <script src="./javascripts/bootstrap.min"></script>
    <script data-main="./conf" src = "./javascripts/require-jquery.js"></script>

  </head>
  <body>
  <div class="container">
  <div class="span4">...</div>
   <div class="span4">
    <h1><%= title %></h1>
    <small>Using Node.js, HTML5, MongoDB, Bootstrape,Require.JS</small>
    <hr>
    <div id="msg">
              <button id="logout" style="visibility :hidden;">LogOut</button>
     </div>
    <div id="log_form">
   <h2>Login</h2>

    <div class="control-group">
        <label class="control-label" for="u_name">User Name</label>
        <div class="controls">
          <input type="text" id="u_name" placeholder="User Name">
        </div>
      </div>
    <div class="control-group">
        <label class="control-label" for="pass">Password</label>
        <div class="controls">
          <input type="text" id="pass" placeholder="Password">
        </div>
      </div>

   <button type="button" id="login" class="btn">Login<button type="button" id="signup" class="btn">sign up</button>
  </div>


 <div id="reg_form">
<h2>Register</h2>
<form>
<table>
<tr>
  <td> User Name:</td><td id="td_un"> <input type="text" name="u_name" id="u_namer" ></td>
</tr>
<tr>
   <td>Email :</td><td id="td_em"> <input type="email" name="email" id="email" ></td>
</tr>
<tr>
   <td>Password :</td><td id="td_p"> <input type="password" name="pass" id="passr" ></td>
</tr>
<tr>
   <td>Re-Password :</td><td id="td_rp"> <input type="password" name="re_pass" id="re_pass"></td>
</tr>
<tr>
   <td>Age :</td><td> <input type="text" name="age" id="age" ></td>
</tr>
<tr>
   <td><button  id="reg" type="button">Register</button></td><td></td>
</tr>
</table>
</form>


 </div>
      </div><!--span for 4-->
 </div>

  </body>
</html>